<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.logis_app.Mapper.AdminMapper">
    <resultMap id="UserMap" type="com.example.logis_app.pojo.PageResult.UserPage">
        <result property="userId" column="user_id"/>
        <result property="userFullName" column="name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userRole" column="user_role"/>
        <result property="userCreateTime" column="user_create_time"/>
        <result property="userLastModifiedTime" column="user_last_modified_time"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id = "findAllUserList" resultMap = "UserMap" >
      select user_id,name , user_phone, user_role,user_create_time, user_last_modified_time, username, password, email
      FROM user 
    </select>

    <insert id="addNewAdmin" useGeneratedKeys="true" keyProperty="userId">
            INSERT INTO user (name, user_phone, user_role, user_create_time, user_last_modified_time, username, password, email)
            VALUES (#{userFullName}, #{userPhone}, #{userRole}, #{userCreateTime}, #{userLastModifiedTime}, #{username}, #{password}, #{email})
    </insert>

    <insert id="insertNewAdminDetails">
        INSERT INTO user_admin_details (user_id, admin_role, department_id, admin_hire_date, admin_salary)
        VALUES (#{userId}, #{adminRole}, #{departmentId}, #{adminHireDateTime}, #{adminSalary})
    </insert>

    <update id="modifyAdmin">
        UPDATE user
        <set>
            <if test="userFullName != null">name = #{userFullName},</if>
            <if test="userPhone != null">user_phone = #{userPhone},</if>
            <if test="userRole != null">user_role = #{userRole},</if>
            <if test="userLastModifiedTime != null">user_last_modified_time = #{userLastModifiedTime},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
        </set>
        WHERE username = #{username}
    </update>


    <update id="modifyAdminDetails">
        UPDATE user_admin_details
        <set>
            <if test="adminRole != null">admin_role = #{adminRole},</if>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="adminHireDateTime != null">admin_hire_date = #{adminHireDateTime},</if>
            <if test="adminSalary != null">admin_salary = #{adminSalary},</if>
        </set>
         WHERE user_id = (SELECT user_id FROM user WHERE username = #{username})
    </update>

    <delete id="deleteAdmin">
        DELETE FROM user WHERE user_id = #{id};
    </delete>
</mapper>