<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.logis_app.Mapper.CartMapper">
   
       <select id="checkCart" resultType="com.example.logis_app.pojo.vo.ProductVO.CartPage">
     select c.cart_id, c.item_id, c.quantity, c.size_id, c.updated_at, isz.size, i.item_name,isz.price
    FROM cart_item c
    LEFT JOIN inventory_sizes isz on isz.size_id = c.size_id
           LEFT JOIN inventory i on i.item_id = c.item_id
           WHERE user_id = #{id} AND status = 'ACTIVE'
    ORDER BY c.updated_at DESC
    </select>

    <update id="modifyQuantity">
        update cart_item
        SET quantity = #{quantity} , updated_at = NOW()
        WHERE cart_id = #{cartId} AND size_id = #{sizeId}
    </update>



</mapper>