<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.logis_app.Mapper.CheckOutMapper">

<insert id="placeOrder">
    INSERT INTO order_table (order_id, cart_id, item_id, quantity, size_id, user_id)
    VALUES (#{orderId}, #{cartId}, #{itemId}, #{quantity}, #{sizeId}, #{userId})
</insert>

<update id="updateOrderStatus" parameterType="int">
    UPDATE cart_item
    SET status = 'PROCESSED'
    WHERE cart_id = #{cartId}
</update>



</mapper>